:root {
    --font-size-h1: 2.5rem;
    --line-height-h1: 2.5rem;
}

body {
    min-width: 300px;
}

.wrapper {
    width: 100%;
    max-width: 1450px;

    margin: 0 auto;
    padding-inline: 1.5rem;
}

.header-content {
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .call-to-action{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.header-content .call-to-action {
    text-transform: uppercase;
    background: var(--light-gray);
    color: var(--black);
    border-radius: 0.5rem   ;
    padding: 0.5rem;


    transition: 0.5s ease;
}

.header-content img {
    max-width: 3.5rem;
}

.header-content .call-to-action:hover {
    background: var(--black);
    color: var(--white);

}

.sidebar {
    background: var(--black);
    padding: 1rem;
    position: fixed;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999999;
    border-radius: 2rem;
}

.sidebar ul li {
    margin-bottom: 0.5rem;
}

.sidebar ul li a {
    padding: 0.5rem;
    color: var(--light-gray);
    position: relative; /* Ensure the tooltip is positioned relative to the anchor */
    display: inline-block;
}

.sidebar ul li a::after {
    content: attr(title); /* Show the title attribute content as tooltip text */
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: -30px; /* Adjust the positioning of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Initially hide the tooltip */
    pointer-events: none; /* Ensure the tooltip doesn't interfere with mouse events */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.sidebar ul li a:hover::after {
    opacity: 1; /* Show the tooltip on hover */
}

   .banner-content {
    padding-block: 2rem;
    padding-right: unset;
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: calc(100vh - 120px);
}

.banner-description {
    padding-right: 1.5rem;
}

.banner-description .banner-cta {
    
    display: flex;
    justify-content: space-between;
    align-items:  center;
    margin-bottom: 2rem;
    max-width: 320px;
    gap: 1rem;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 400ms;
}

.banner-description  p {
    margin-bottom: 1rem;
    text-align: justify; 
}

.banner-description .banner-cta a {
    text-transform: uppercase;

    background: var(--medium-orange);
    color: var(--white);
    border-radius: 0.5rem   ;
    padding: 0.5rem;


    transition: 0.5s ease;
}

.banner-description .banner-cta a:hover {
    background: #2D3250;
}
.banner-description .banner-cta span {
    text-transform: uppercase;
}

.banner-description h1 {
    margin-bottom: 2rem;
    transition:  transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 100ms;
}
.banner-description p {
    text-align: justify
}

.banner-image img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
    border-radius: 1rem  0 0 1rem;
}

.banner-image {
    text-align: end;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 600ms;
}

.history-content.wrapper {
    padding: 4rem;
}

.history-content.wrapper h2{
    margin-bottom: 1rem;
}

.history-content.wrapper p.description{
    margin-bottom: 5rem;
}

.list-of-timeline {
    position: relative;
    margin-left: 4rem;
}
.list-of-timeline::before {
    position: absolute;
    content: '';
    width: 0.5rem;
    left: -2.1rem;
    top: 0;
    background-color: black;
    height: 100%;
}

.list-of-timeline > * {
    position: relative;
}

.list-of-timeline > *::before {
    content: '';
    width: 2rem;
    height: 0.5rem;
    top: 0.5rem;
    left: -2.1rem;
    background-color: black;
    position: absolute;
}    

.list-of-timeline > * h3{
    margin-bottom: 1rem;
}

.list-of-timeline > * ul { 
    position: relative;
    margin-left: 2rem;
}




.list-of-timeline > * ul > li {
    position: relative;
    margin-bottom: 1rem;
    list-style-type: circle;
}


.types-content.wrapper, .functionalities-content.wrapper {
    padding-block: 3rem;
    text-align: center;
}

.types-content h2, .functionalities-content h2 {
    margin-bottom: 2rem;
}

.types-content > .type-list, .functionalities-content > .functionalities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.types-content > .type-list > *, .functionalities-content > .functionalities-list > * {
    padding: 1rem;
    flex-basis: 20rem;
}
.types-content > .type-list > * i, .functionalities-content > .functionalities-list > * i{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.types-content > .type-list > * h3, .functionalities-content > .functionalities-list > * h3{
    margin-bottom: 1rem;
}

.base-on-tech-content.wrapper {
    padding-block: 2rem;
    display: flex;
}

.base-on-tech-content h2 {
    font-size: 5rem;
    line-height: 5rem;
    writing-mode: vertical-rl;
    text-align: center;
}

.base-on-tech-content .tech-list::after {
    position: absolute;
    content: '';
    width: 0.3rem;
    left: -2rem;
    background: black;
    height: 100%;
}

.base-on-tech-content .tech-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2.5rem;

}

.base-on-tech-content .tech-list .list h3 { 
    margin-bottom: 1rem;
}

.ai-comparison-content.wrapper {
    padding: 4rem;
    display: flex;
}

.ai-comparison-content > *{
    flex: 1;
}

.ai-comparison-content > * h2 {
    margin-bottom: 1rem;

}
.ai-comparison-content > * ul {
    margin-left: 2rem;
}

.ai-comparison-content > * ul li {
    list-style-type: circle;
    margin-bottom: 1rem;
}

.applications-content.wrapper {
    flex-basis: 33%;
}

.applications-content h2 {
    margin-bottom: 2rem;
}

.applications-content > .types-of-applications {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
}

.applications-content > .types-of-applications::-webkit-scrollbar {
    height: 2px; /* Set the height of the horizontal scrollbar */
}

.applications-content > .types-of-applications::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

.applications-content > .types-of-applications::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

.applications-content > .types-of-applications::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}


.applications-content .application-info {
    display: flex;
    padding-block: 5rem;
    justify-content: space-evenly;
}

.applications-content > .types-of-applications > *{
    border: none;
    font-family: var(--font-family);
    background-color: var(--black);
    color: var(--white);
    padding-block: 0.5rem;
    padding-inline: 2rem;
}

.application-info {
    position: relative;
}

.application-info div {
    position: relative;
}

.application-info div p {
    max-width: 400px;

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* Set a background color for better visibility */
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1; /* Ensure it's above other content */
}

.application-info div h3:hover + p {
    display: block;
}


.application-info div h3 {
    position: relative;
    cursor: pointer; /* Change cursor to pointer when hovering over the name */
    animation-name: scaleIn;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; /* Loop the animation infinitely */
    animation-direction: alternate; /* Alternate between scaling in and out */
}

@keyframes scaleIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1); /* Increase scale slightly on hover */
    }
}


.accordion {
    margin: 20px auto;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-header {
    width: 100%;
    font-family: var(--font-family);
    font-size: 1.2rem;
    background-color: var(--black);
    color: var(--light-gray);
    cursor: pointer;
    padding: 15px;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #424769;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    padding: 1rem;

}
.accordion-content p,
.accordion-content ul {
    padding: 1rem 15px;
    margin: 0;
}

.accordion-content ul {
    padding-left: 20px;
}

.footer-content.wrapper {
    padding: 3.5rem 1.5rem;
    text-align: center;
}

.footer-content b {
    color: var(--medium-blue-gray);
    font-weight: bold;
}


.aboutus .image-row {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutus .image-container {
    width: 16%;
    text-align: center;
    margin-bottom: 10px;
   
}

.aboutus .image-container img {
    width: 100%;
    border-radius: 20px;
}

.aboutus .image-name {
    margin-top: 5px;
    font-size: 18px;
    color: #424769
}

@media screen and (max-width: 768px) {
    .aboutus .image-container {
        width: 48%;
    }
}

@media screen and (max-width: 480px) {
    .aboutus .image-container {
        width: 98%;
    }
}

\\banner what is AI

.banner {
    position: relative;
    padding: 60px 0;
    background-color: #f9f9f9;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner-description {
    flex: 1;
}

.banner-description h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-description p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.banner-cta {
    margin-top: 20px;
}

.banner-cta .call-to-action {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.banner-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.banner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .banner-content {
        flex-direction: column;
    }

    .banner-image {
        margin-top: 20px;
        justify-content: center;
    }
}



